.logo     {
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.logo:hover   {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: imageAnimate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes imageAnimate {
    0% {transform: rotate(0deg);
        border-radius: 100%;}
    50% {transform: rotate(-30deg);
        filter: hue-rotate(-200deg);}
    100% {transform: rotate(30deg);
          border-radius: 20%;}
}